<html>
    <head>
        <meta charset="utf-8"/>
        <title>
            Another hope bro
        </title>
    </head>{% extends 'base.html' %}

    {% block head %}
    
    {% endblock %}
    
    {% block head %}
    
    {% endblock %}
    
    
    <body>

<script>
cuteArray = [];
var title = "Rice";
var quantity = 1;
var price = 30;


var title = "Soup";
var quantity = 3;
var price = 50;


var testObject = { 
    name : "Kweku",
};

var addToObject = function(){
    testObject.title = this.title;
    testObject.quantity = this.quantity;
    testObject.price = this.price;
    cuteArray.push(testObject)
    
}


</script>

    </body>
</html>